<div class="container">
  <div class="row" *ngIf="customerData">
    <h1><u>Customer Details </u></h1>
    <h2>Name : {{ customerData.name }}</h2>
    <br />
    <h5>Website : {{ customerData.website }}</h5>
    <br />
    <h5>Address : {{ customerData.address }}</h5>
    <br />
    <br />
    <h2><u>User Associated</u></h2>
    <h5 *ngFor="let user of users; index as i">
      <div>
        <span> {{ i + 1 }}. {{ user?.firstName }}{{ user?.lastName }} </span>
      </div>
    </h5>
  </div>
</div>
