<div class="container">
  <br />
  <h2>Login Detail</h2>
  <br />
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userName">UserName</label>
      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="Username"
        name="userName"
        [(ngModel)]="credentials.username"
      />
    </div>
    <br />

    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
        [(ngModel)]="credentials.password"
        name="loginPassword"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/register">Register User Now</a>
  </form>
</div>
